.container{
    display: grid;
    grid-template-columns: repeat(2,minmax(700px,1fr));
    grid-gap: 20px;
    padding: 20px;
    width: 30%;
    padding-top: 70px;
}

.movie{
    font-family: cursive;
    background-color: white;
    margin-bottom: 70px;
    font-weight: 300;
    padding: 0px 30px 0px 10px;
    border-radius: 5px;
    color: #adaeb9;
    display: grid;
    grid-gap: 10px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.movie__rating{
    font-size:20px;
}
.movie__genres{
    font-size:20px;
}
.movie__runtime{
    font-size:20px;
}
.movie__summary{
    color: black;
    font-size: 20px;
}